/**
 * flex container / initialize grid
 */
.grid {
    display: ms-flexbox;    /* IE10 */
    display: -webkit-flex;  /* Safari */
    display: flex;  /* Chrome, Opera, Firefox */
    flex-wrap: wrap;    /* automatic row support */
    justify-content: space-between; /* auto gutter / margin between flex items */
    /* ul/li compatibility */
    list-style-type: none;
    padding: 0;
    margin: 0;

/*    position: relative;*/
}

/**
 * flex items auto grow / flexible (default for all flex children elements)
 */
.grid > * {
    -ms-flex: 1 1 auto;   /* IE10 */
    -webkit-flex: 1 1 auto;   /* Safari */
    flex: 1 1 auto; /* Chrome, Opera, Firefox */
    height: auto;   /* equal item height! */

/*    position: relative;*/
}

/**
 * fixed with flex items
 */
.grid > .fix,
.grid > .full,
.grid.full > *,
.grid.fix > * {
    -ms-flex: 0 0 auto;    /* IE10 */
    -webkit-flex: 0 0 auto;  /* Safari */
    flex: 0 0 auto;    /* Chrome, Opera, Firefox */
}

/**
 * full width flex items
 */
.grid > .full {
    width: 100%;
}

/**
 * force line break with a emtpy dummy flex item
 */
.grid .break {
    width: 100%;
    height: 0px;
    border: none;
}


/**
 * mobile table layout
 */
 @media screen and (max-width: 600px) {
     .grid > * {
         width: 100%;
     }
}
